* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  color: white;
}

.cards_animation {
  padding: 2rem;
  width: fit-content;
  /* background-color: aquamarine; */
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.right-panal {
  /* background-color: yellowgreen; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.right-panal-first {
  height: max-content;
  width: 80%;
  background-color: #1c1c1c;
  margin: 10px;
  text-align: start;
  border: 1px solid #ff4d6d;
  border-radius: 20px;
  padding: 30px;
}

.right-panal-first-upper {
  display: flex;
  padding: 0px 0px 10px 0px;
  justify-content: space-between;
  align-items: center;
}

.right-panal-first-upper-icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border-radius: 20%;
  background-color: #ff4d5080;
  color: white;
}

.right-panal-first-upper-btn {
  background-color: #ff4d5080;
  color: #ff4d6d;
  font-size: 15px;
  padding: 10px 35px;
  border-radius: 50px;
  text-transform: uppercase;
}

.right-panal-first-heading {
  font-family: "Mulish", sans-serif;
  font-size: 30px;
  padding: 10px 0px 10px 0px;
}

.right-panal-first-sec-heading {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  padding: 0px 0px 10px 0px;
  font-weight: bold;
}

.right-panal-year-btn {
  background-color: #ff4d5080;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 35px;
  border-radius: 50px;
  text-transform: uppercase;
  width: max-content;
  margin-bottom: 10px;
}

.right-panal-para {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  padding: 0px 0px 10px 0px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.right-panal-btns {
  display: flex;
}

.right-panal-btn {
  background-color: #ff4d5080;
  color: #ffffff;
  font-size: 10px;
  padding: 10px 10px;
  border-radius: 50px;
  text-transform: uppercase;
  width: max-content;
  margin-left: 10px;
}

.mid-panal {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mid-panal-outer-icon {
  height: 50px;
  width: 50px;
   background-color: rgba(0, 0, 0, 0);
  border: 3px solid #ff4d5080;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-panal-icons {
  height: auto;
  width: auto;
  font-size: 20px;
  color: white;
  padding: 7px;
  background-color: #ff4d6d;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
}


.vl {
  border-left: 6px solid #ff4d5080;
  height:300px;
}

.vl1{
  border-radius: 0px 0px 10px 10px;
}


.left-panal {
  /* background-color: yellowgreen; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left-panal-first {
  height: max-content;
  width: 80%;
  background-color: #1c1c1c;
  margin: 10px;
  text-align: start;
  border: 1px solid #ff4d6d;
  border-radius: 20px;
  padding: 30px;
}

.left-panal-first-upper {
  display: flex;
  padding: 0px 0px 10px 0px;
  justify-content: space-between;
  align-items: center;
}

.left-panal-first-upper-icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border-radius: 20%;
  background-color: #ff4d5080;
  color: white;
}

.left-panal-first-upper-btn {
  background-color: #ff4d5080;
  color: #ff4d6d;
  font-size: 15px;
  padding: 10px 35px;
  border-radius: 50px;
  text-transform: uppercase;
}

.left-panal-first-heading {
  font-family: "Mulish", sans-serif;
  font-size: 30px;
  padding: 10px 0px 10px 0px;
}

.left-panal-first-sec-heading {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  padding: 0px 0px 10px 0px;
  font-weight: bold;
}

.left-panal-year-btn {
  background-color: #ff4d5080;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 35px;
  border-radius: 50px;
  text-transform: uppercase;
  width: max-content;
  margin-bottom: 10px;
}

.left-panal-para {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  padding: 0px 0px 10px 0px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.left-panal-btns {
  display: flex;
}

.left-panal-btn {
  background-color: #ff4d5080;
  color: #ffffff;
  font-size: 10px;
  padding: 10px 10px;
  border-radius: 50px;
  text-transform: uppercase;
  width: max-content;
  margin-left: 10px;
}